/* Design Tokens - Generated */

:root {
  /* Primitives - Palettes */
  --primitive-primary0: #000000ff;
  --primitive-primary10: #000d33ff;
  --primitive-primary20: #001b66ff;
  --primitive-primary30: #002899ff;
  --primitive-primary40: #0035ccff;
  --primitive-primary50: #0043ffff;
  --primitive-primary60: #3368ffff;
  --primitive-primary70: #80a1ffff;
  --primitive-primary80: #99b4ffff;
  --primitive-primary90: #dbe5ffff;
  --primitive-primary95: #e5ecffff;
  --primitive-primary98: #f5f7ffff;
  --primitive-primary99: #fafbffff;
  --primitive-primary100: #ffffffff;
  --primitive-secondary0: #000000ff;
  --primitive-secondary10: #0e0330ff;
  --primitive-secondary20: #1c075fff;
  --primitive-secondary30: #340db0ff;
  --primitive-secondary40: #380ebeff;
  --primitive-secondary50: #5829f0ff;
  --primitive-secondary60: #6b41f1ff;
  --primitive-secondary70: #9070f5ff;
  --primitive-secondary80: #b5a0f8ff;
  --primitive-secondary90: #dacffcff;
  --primitive-secondary95: #ece7fdff;
  --primitive-secondary98: #f8f5feff;
  --primitive-secondary99: #fbfaffff;
  --primitive-secondary100: #ffffffff;
  --primitive-tertiary0: #000000ff;
  --primitive-tertiary10: #121221ff;
  --primitive-tertiary20: #2e2d52ff;
  --primitive-tertiary30: #373762ff;
  --primitive-tertiary40: #4a4983ff;
  --primitive-tertiary50: #5c5ba4ff;
  --primitive-tertiary60: #7d7cb6ff;
  --primitive-tertiary70: #aeadd2ff;
  --primitive-tertiary80: #bebddbff;
  --primitive-tertiary90: #e8e8f2ff;
  --primitive-tertiary95: #efeff6ff;
  --primitive-tertiary98: #f8f8fbff;
  --primitive-tertiary99: #fcfcfdff;
  --primitive-tertiary100: #ffffffff;
  --primitive-neutral0: #000000ff;
  --primitive-neutral10: #191919ff;
  --primitive-neutral20: #333333ff;
  --primitive-neutral30: #4c4c4cff;
  --primitive-neutral40: #666666ff;
  --primitive-neutral50: #808080ff;
  --primitive-neutral60: #999999ff;
  --primitive-neutral70: #b3b3b3ff;
  --primitive-neutral80: #ccccccff;
  --primitive-neutral90: #e6e6e6ff;
  --primitive-neutral95: #f2f2f2ff;
  --primitive-neutral98: #fafafaff;
  --primitive-neutral99: #fcfcfcff;
  --primitive-neutral100: #ffffffff;
  --primitive-neutral-variant0: #000000ff;
  --primitive-neutral-variant10: #191919ff;
  --primitive-neutral-variant20: #404040ff;
  --primitive-neutral-variant30: #4c4c4cff;
  --primitive-neutral-variant40: #666666ff;
  --primitive-neutral-variant50: #808080ff;
  --primitive-neutral-variant60: #a3a3a3ff;
  --primitive-neutral-variant70: #c4c4c4ff;
  --primitive-neutral-variant80: #dbdbdbff;
  --primitive-neutral-variant-90: #ebebebff;
  --primitive-neutral-variant95: #f2f2f2ff;
  --primitive-neutral-variant98: #fafafaff;
  --primitive-neutral-variant99: #fcfcfcff;
  --primitive-neutral-variant100: #ffffffff;
  --primitive-accent0: #000000ff;
  --primitive-accent10: #271c0cff;
  --primitive-accent20: #8a6128ff;
  --primitive-accent30: #9e6f2eff;
  --primitive-accent40: #cb974eff;
  --primitive-accent50: #d1a261ff;
  --primitive-accent60: #e0c195ff;
  --primitive-accent70: #efdfc8ff;
  --primitive-accent80: #f5eadcff;
  --primitive-accent90: #f3e8d8ff;
  --primitive-accent95: #f9f3ebff;
  --primitive-accent98: #fdfaf7ff;
  --primitive-accent99: #fefdfbff;
  --primitive-accent100: #ffffffff;
  --primitive-error0: #000000ff;
  --primitive-error10: #2e0505ff;
  --primitive-error20: #5b0b0bff;
  --primitive-error30: #891010ff;
  --primitive-error40: #b61616ff;
  --primitive-error50: #e52424ff;
  --primitive-error60: #e94949ff;
  --primitive-error70: #ef7676ff;
  --primitive-error80: #f4a4a4ff;
  --primitive-error90: #fad1d1ff;
  --primitive-error95: #fce8e8ff;
  --primitive-error98: #fef6f6ff;
  --primitive-error99: #fefafaff;
  --primitive-error100: #ffffffff;
  --primitive-success0: #000000ff;
  --primitive-success10: #0b280dff;
  --primitive-success20: #165019ff;
  --primitive-success30: #207926ff;
  --primitive-success40: #2ba133ff;
  --primitive-success50: #36c940ff;
  --primitive-success60: #5ed466ff;
  --primitive-success70: #86df8cff;
  --primitive-success80: #afe9b2ff;
  --primitive-success90: #d7f4d9ff;
  --primitive-success95: #ebfaecff;
  --primitive-success98: #f7fdf7ff;
  --primitive-success99: #fbfefbff;
  --primitive-success100: #ffffffff;
  --primitive-warning0: #000000ff;
  --primitive-warning10: #28240bff;
  --primitive-warning20: #504716ff;
  --primitive-warning30: #786b21ff;
  --primitive-warning40: #a08f2cff;
  --primitive-warning50: #cdb947ff;
  --primitive-warning60: #d3c25fff;
  --primitive-warning70: #ded187ff;
  --primitive-warning80: #e9e0afff;
  --primitive-warning90: #f4f0d7ff;
  --primitive-warning95: #faf7ebff;
  --primitive-warning98: #fdfcf7ff;
  --primitive-warning99: #fefdfbff;
  --primitive-warning100: #ffffffff;

  /* Primitives - Key Colors */
  --primitive-primary-key-color: #003ce6ff;
  --primitive-secondary-key-color: #7d58f3ff;
  --primitive-tertiary-key-color: #3f3e70ff;
  --primitive-neutral-key-color: #191919ff;
  --primitive-neutral-variant-key-color: #474747ff;
  --primitive-error-key-color: #e52424ff;
  --primitive-accent-key-color: #c99347ff;
  --primitive-success-key-color: #30b238ff;
  --primitive-warning-key-color: #ccb844ff;

  /* System Tokens - Color Roles */
  --sys-primary-color-role: var(--primitive-primary-key-color);
  --sys-on-primary-color-role: var(--primitive-primary100);
  --sys-primary-container-role: var(--primitive-primary90);
  --sys-on-primary-container-role: var(--primitive-primary30);
  --sys-secondary-color-role: var(--primitive-secondary40);
  --sys-on-secondary-role: var(--primitive-secondary100);
  --sys-secondary-container-role: var(--primitive-secondary90);
  --sys-on-secondary-container-role: var(--primitive-secondary30);
  --sys-tertiary-color-role: var(--primitive-tertiary40);
  --sys-on-tertiary-color-role: var(--primitive-tertiary100);
  --sys-tertiary-container-role: var(--primitive-tertiary90);
  --sys-on-tertiary-container-role: var(--primitive-tertiary30);
  --sys-neutral-color-role: var(--primitive-neutral98);
  --sys-on-neutral-color-role: var(--primitive-neutral10);
  --sys-neutral-container-role: var(--primitive-neutral90);
  --sys-on-neutral-container-role: var(--primitive-neutral30);
  --sys-neutral-container-low: var(--primitive-neutral95);
  --sys-neutral-container-lowest: var(--primitive-neutral100);
  --sys-neutral-variant: var(--primitive-neutral90);
  --sys-on-neutral-variant: var(--primitive-neutral30);
  --sys-neutral-variant-container: var(--primitive-neutral-variant-90);
  --sys-on-neutral-variant-role: var(--primitive-neutral-variant30);
  --sys-error-color-role: var(--primitive-error40);
  --sys-on-error-color-role: var(--primitive-error100);
  --sys-error-container-role: var(--primitive-error90);
  --sys-on-error-container-role: var(--primitive-error30);
  --sys-success-color-role: var(--primitive-success40);
  --sys-on-success-role: var(--primitive-success100);
  --sys-success-conatiner-role: var(--primitive-success90);
  --sys-on-success-container-role: var(--primitive-success30);
  --sys-accent-color-role: var(--primitive-accent40);
  --sys-on-accent-color-role: var(--primitive-accent100);
  --sys-accent-container-role: var(--primitive-accent90);
  --sys-on-accent-container-role: var(--primitive-accent30);
  --sys-warning-color-role: var(--primitive-warning40);
  --sys-on-warning-color-role: var(--primitive-warning100);
  --sys-warning-container-role: var(--primitive-warning90);
  --sys-on-warnimg-container-role: var(--primitive-warning30);
  --sys-outline-color-role: var(--primitive-neutral-variant50);
  --sys-outline-variant-color-role: var(--primitive-neutral-variant80);

  /* System Tokens - Typography */
  --sys-font-display-large-size: 60px;
  --sys-font-display-large-weight: 600;
  --sys-font-display-large-family: 'Inter', sans-serif;
  --sys-font-display-large-line-height: 64px;
  --sys-font-display-large-letter-spacing: -4px;
  --sys-font-display-large: 600 60px/64px 'Inter', sans-serif;
  --sys-font-display-medium-size: 45px;
  --sys-font-display-medium-weight: 600;
  --sys-font-display-medium-family: 'Inter', sans-serif;
  --sys-font-display-medium-line-height: 52px;
  --sys-font-display-medium-letter-spacing: -1px;
  --sys-font-display-medium: 600 45px/52px 'Inter', sans-serif;
  --sys-font-display-small-size: 36px;
  --sys-font-display-small-weight: 600;
  --sys-font-display-small-family: 'Inter', sans-serif;
  --sys-font-display-small-line-height: 44px;
  --sys-font-display-small-letter-spacing: -2px;
  --sys-font-display-small: 600 36px/44px 'Inter', sans-serif;
  --sys-font-headline-large-size: 32px;
  --sys-font-headline-large-weight: 600;
  --sys-font-headline-large-family: 'Inter', sans-serif;
  --sys-font-headline-large-line-height: 40px;
  --sys-font-headline-large-letter-spacing: -1.5px;
  --sys-font-headline-large: 600 32px/40px 'Inter', sans-serif;
  --sys-font-headline-medium-size: 28px;
  --sys-font-headline-medium-weight: 600;
  --sys-font-headline-medium-family: 'Inter', sans-serif;
  --sys-font-headline-medium-line-height: 36px;
  --sys-font-headline-medium-letter-spacing: -1.2px;
  --sys-font-headline-medium: 600 28px/36px 'Inter', sans-serif;
  --sys-font-headline-small-size: 24px;
  --sys-font-headline-small-weight: 500;
  --sys-font-headline-small-family: 'Inter', sans-serif;
  --sys-font-headline-small-line-height: 32px;
  --sys-font-headline-small-letter-spacing: -1px;
  --sys-font-headline-small: 500 24px/32px 'Inter', sans-serif;
  --sys-font-title-large-size: 22px;
  --sys-font-title-large-weight: 600;
  --sys-font-title-large-family: 'Inter', sans-serif;
  --sys-font-title-large-line-height: 28px;
  --sys-font-title-large-letter-spacing: -0.85px;
  --sys-font-title-large: 600 22px/28px 'Inter', sans-serif;
  --sys-font-title-medium-size: 16px;
  --sys-font-title-medium-weight: 600;
  --sys-font-title-medium-family: 'Inter', sans-serif;
  --sys-font-title-medium-line-height: 24px;
  --sys-font-title-medium-letter-spacing: -0.5px;
  --sys-font-title-medium: 600 16px/24px 'Inter', sans-serif;
  --sys-font-title-small-size: 14px;
  --sys-font-title-small-weight: 500;
  --sys-font-title-small-family: 'Inter', sans-serif;
  --sys-font-title-small-line-height: 20px;
  --sys-font-title-small-letter-spacing: -0.5px;
  --sys-font-title-small: 500 14px/20px 'Inter', sans-serif;
  --sys-font-body-large-size: 16px;
  --sys-font-body-large-weight: 500;
  --sys-font-body-large-family: 'Inter', sans-serif;
  --sys-font-body-large-line-height: 24px;
  --sys-font-body-large-letter-spacing: -0.95px;
  --sys-font-body-large: 500 16px/24px 'Inter', sans-serif;
  --sys-font-body-medium-size: 14px;
  --sys-font-body-medium-weight: 500;
  --sys-font-body-medium-family: 'Inter', sans-serif;
  --sys-font-body-medium-line-height: 20px;
  --sys-font-body-medium-letter-spacing: -0.95px;
  --sys-font-body-medium: 500 14px/20px 'Inter', sans-serif;
  --sys-font-body-small-size: 12px;
  --sys-font-body-small-weight: 500;
  --sys-font-body-small-family: 'Inter', sans-serif;
  --sys-font-body-small-line-height: 18px;
  --sys-font-body-small-letter-spacing: -0.85px;
  --sys-font-body-small: 500 12px/18px 'Inter', sans-serif;
  --sys-font-label-large-size: 14px;
  --sys-font-label-large-weight: 600;
  --sys-font-label-large-family: 'Inter', sans-serif;
  --sys-font-label-large-line-height: 20px;
  --sys-font-label-large-letter-spacing: -0.85px;
  --sys-font-label-large: 600 14px/20px 'Inter', sans-serif;
  --sys-font-label-medium-size: 12px;
  --sys-font-label-medium-weight: 500;
  --sys-font-label-medium-family: 'Inter', sans-serif;
  --sys-font-label-medium-line-height: 16px;
  --sys-font-label-medium-letter-spacing: -0.5px;
  --sys-font-label-medium: 500 12px/16px 'Inter', sans-serif;
  --sys-font-label-small-size: 11px;
  --sys-font-label-small-weight: 500;
  --sys-font-label-small-family: 'Inter', sans-serif;
  --sys-font-label-small-line-height: 16px;
  --sys-font-label-small-letter-spacing: -0.5px;
  --sys-font-label-small: 500 11px/16px 'Inter', sans-serif;
}
